    {% extends 'formular/base.html' %}
    {% block content%}
    {% load static %}   

    
    <div class="form_parent">

        <form class="row g-1 needs-validation {% if form.errors %}was-validated{% endif %}" name="employee_form" method="POST" novalidate>
            
            <!-- This block validates the security -->
            {% csrf_token %}

             <div class="col-md-6 ">
                
                {{form.firstname}}
                
                <div class="valid-feedback">
                    Nice name ;)
                </div>
                <div class="invalid-feedback">
                    Please insert ur name
                </div>
            </div>
            <div class="col-md-6 ">
                
                {{form.lastname}}

            
                <div class="valid-feedback">
                    Lastname is a must have!
                </div>
                <div class="invalid-feedback">
                    Please insert ur lastname   
                </div>
            </div>    

            <div class="col-md-12">
                <label class="form-label" for="form.jobCategories.id_for_label">Job Title:</label>
                <br>                
                {{form.jobCategories}}
                <div class="valid-feedback">
                    Job title selected.
                </div>
                <div class="invalid-feedback">
                    Please select a job title.
                </div>
                
            </div> 

            <div class="col-md-12 ">
                <label class="form-label" for="{{form.gender.id_for_label}}">Sex:</label>
                <br>
                {{form.gender}}
                <div class="valid-feedback">
                    Gender selected.
                </div>
                <div class="invalid-feedback">
                    Please select a gender.
                </div>
            </div>  

            <!-- {{form}} -->
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" >Sign in</button>
            </div>
        </form>

    </div>

    {%endblock content%}

